.thumbnail {
  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: scale(0.8);
  }
}

.thumbnail_selected {
  filter: brightness(100%);
  border: 0.2rem solid #9e9e9e;
  transform: scale(1.1);

}

.thumbnail,
.thumbnail_selected {
  max-height: 12rem;
  border-radius: 1rem;

  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}
