$font-f-primary: "Monument Extended", sans-serif;
$font-f-secondary: "Inter", sans-serif;
$font-f-hero: "Monument Extended Ultrabold", sans-serif;

$font-w-400: 400;
$font-w-700: 700;
$font-w-900: 900;

$c-primary: #000;
$c-secondary: #fff;
$c-var: #3d3d3d;
$c-detail: #8c52ff;
$c-link-primary: #3d3d3d;
$c-link-hover: #000;

$back-c-primary: #fff;
$back-detail: radial-gradient(
  circle at 12.8% 28%,
  rgb(206, 155, 243) 0%,
  #8c52ff 90%
);

$back-c-button-primary: #3d3d3d;
$back-c-button-secondary: #fff;
$back-c-button-hover: #000;
$back-c-button-checkout: #48e471;
$back-c-button-checkout-hover: #74eb93;
$back-c-var-hover: hsla(0, 0%, 5%, 0.2);

$border-c-button-checkout: #48e471;
$border-c-button-checkout-hover: #74eb93;
$border-c-var: hsla(0, 0%, 5%, 0.2);

$border-modal: 1px solid $border-c-var;

$ls-primary: 0.05rem;
$ls-secondary: -0.05rem;
$ls-link: 0.1rem;
$ls-button: 0.12rem;

$z-nav: 5;
$z-backdrop: 20;
$z-modal: 25;
$z-modal-n: 30;

.card {
  display: grid;
  grid-template-columns: 8fr 1fr;
  padding: 2rem;
  border: 0.2rem solid #000;
  border-radius: 1rem;
  background: #fff;
  color: #000;
  font-size: 1.4rem;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;

  &:hover {
    cursor: pointer;
  }

  &:active {
    transform: scale(0.9);
  }

  h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 1.4rem;
  }

  p {
    margin-left: auto;
  }
  .welcome_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding-bottom: 2rem;
    // margin-bottom: 1.5rem;
    flex-direction: row;
    line-height: normal;

    .logout_button {
      position: relative;
      top: 1rem;
      right: -8rem;
      border: 0.2rem solid #000;
      border-radius: 1rem;
      text-transform: uppercase;
      background: #fff;
      color: #000;
      padding: 1rem 2rem;
      font-size: 1.2rem;
      letter-spacing: $ls-button;

      -webkit-user-select: none;
      -webkit-touch-callout: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      -moz-transition: all 0.1s ease-in;
      -o-transition: all 0.1s ease-in;
      -webkit-transition: all 0.1s ease-in;
      transition: all 0.1s ease-in;

      @media (min-width: 360px) {
        font-size: 1.4rem;
      }

      @media (min-width: 480px) {
        font-size: 1.6rem;
      }

      &:hover {
        cursor: pointer;
        background-color: $back-c-button-hover;
        color: #fff;
      }

      &:active {
        transform: scale(0.9);
      }
    }
    .logout_button1 {
      position: relative;
      top: 1rem;
      right: -8rem;
      border: 0.2rem solid #000;
      border-radius: 1rem;
      text-transform: uppercase;
      background: #000000;
      color: #ffffff;
      padding: 1rem 2rem;
      font-size: 1.2rem;
      letter-spacing: $ls-button;

      -webkit-user-select: none;
      -webkit-touch-callout: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      -moz-transition: all 0.1s ease-in;
      -o-transition: all 0.1s ease-in;
      -webkit-transition: all 0.1s ease-in;
      transition: all 0.1s ease-in;

      @media (min-width: 360px) {
        font-size: 1.4rem;
      }

      @media (min-width: 480px) {
        font-size: 1.6rem;
      }

      &:hover {
        cursor: pointer;
        background-color: $back-c-button-hover;
        color: #ffffff;
        transform: scale(0.9);
      }

      &:active {
        transform: scale(0.9);
      }
    }
  }

  .tags_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
  }

  .tag_alt1 {
    background-color: #48e471;
  }
  
  .tag {
    background: $back-detail;
  }
  
  .tag,
  .tag_alt,
  .tag_alt1 {
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border-radius: 0.6rem;
    font-size: 1.2rem;
    color: $c-primary;
    font-family: $font-f-secondary;
    font-weight: $font-w-700;
    letter-spacing: $ls-secondary;
  }
  
  .tag_alt {
    background-color: $c-link-primary;
    color: #fff;
  }
  .date {
    font-family: $font-f-secondary;
    font-weight: $font-w-700;
    letter-spacing: $ls-secondary;
    font-size: 1.4rem;
  }
}
