.App .content {
   
  width: 100%;
    // margin: 5rem auto 0 auto;
    // padding: 10rem 1rem;
    max-height: 50vh;
    height: fit-content;
   

  }
  
  .App .content .app_description {
    text-align: center;
  }
  
  .App .content .app_description p { 
    line-height: 1.75rem;
  }
  
 