$border-modal: 1px solid;

$z-modal: 25;

.modal::-webkit-scrollbar {
  display: none;
}
.modal {
  // position: fixed;
  // position: relative;
  // right: 50%;
  // transform: translate(50%, 0);
  // position: relative;
  padding: 1.5rem;

  width: 500px;
  background-color: white;
  // padding: 3rem 0;
  min-height: 90%;
  overflow-y: scroll;
  // TODO: REMOVER CUANDO SE SAQUE TAILWIND
  z-index: 1;
  // border: $border-modal;
  border: 0.2rem solid #9e9e9e;
  // border-top-left-radius: 3rem;
  // border-top-right-radius: 3rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 8px 10px -6px rgba(0, 0, 0, 0.1);
  border-radius: 3rem;
  // @media (min-width: 768px) {
  //   // top: 1000%;
  //   // right: 50%;
  //   // transform: translate(50%, -50%);
  //   height: 100%;

  //   // width: 50%;
  //   border-radius: 3rem;
  // }

  // @media (min-width: 900px) {
  //   width: 45%;
  // }

  // @media (min-width: 1024px) {
  //   width: 40%;
  // }

  // @media (min-width: 1200px) {
  //   width: 30%;
  // }

  // @media (min-width: 1920px) {
  //   width: 25%;
  // }
}
