$font-f-primary: "Monument Extended", sans-serif;
$font-f-secondary: "Inter", sans-serif;
$font-f-hero: "Monument Extended Ultrabold", sans-serif;

$font-w-400: 400;
$font-w-700: 700;
$font-w-900: 900;

$c-primary: #000;
$c-secondary: #fff;
$c-var: #3d3d3d;
$c-detail: #8c52ff;
$c-link-primary: #3d3d3d;
$c-link-hover: #000;

$back-c-primary: #fff;
$back-detail: radial-gradient(
    circle at 12.8% 28%,
    rgb(206, 155, 243) 0%,
    #8c52ff 90%
);

$back-c-button-primary: #3d3d3d;
$back-c-button-secondary: #fff;
$back-c-button-hover: #000;
$back-c-button-checkout: #48e471;
$back-c-button-checkout-hover: #74eb93;
$back-c-var-hover: hsla(0, 0%, 5%, 0.2);

$border-c-button-checkout: #48e471;
$border-c-button-checkout-hover: #74eb93;
$border-c-var: hsla(0, 0%, 5%, 0.2);

$border-modal: 1px solid $border-c-var;

$ls-primary: 0.05rem;
$ls-secondary: -0.05rem;
$ls-link: 0.1rem;
$ls-button: 0.12rem;

$z-nav: 5;
$z-backdrop: 20;
$z-modal: 25;
$z-modal-n: 30;

.step_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:has(.item_completed) {
    cursor: pointer;
  }
}

.label_completed,
.label_selected,
.label {
  font-family: $font-f-secondary;
  letter-spacing: $ls-secondary;
}

.label_completed,
.label {
  color: #48e471;
}

.label_selected {
  color: #fff;
}

.item {
  color: #fff;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 1rem;
  font-family: $font-f-secondary;
  letter-spacing: $ls-secondary;
  font-weight: $font-w-700;
  line-height: normal;
  background-color: rgba(0, 0, 0, 0.3);
}

.item_completed {
  color: white;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0 0 2rem #48e471;
  background-color: #48e471;
}

.item_selected {
  color: #3d3d3d;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  box-shadow: 0 0 2rem #fff;
  background-color: #fff;

  font-family: $font-f-secondary;
  letter-spacing: $ls-secondary;
  font-weight: $font-w-700;
  line-height: normal;
}

.item,
.item_selected,
.item_completed,
.label_completed,
.label_selected,
.label {
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.arrow {
  color: white;
  margin: 0 auto;
}
