$font-f-primary: "Monument Extended", sans-serif;
$font-f-secondary: "Inter", sans-serif;
$font-f-hero: "Monument Extended Ultrabold", sans-serif;

$font-w-400: 400;
$font-w-700: 700;
$font-w-900: 900;

$c-primary: #000;
$c-secondary: #fff;
$c-var: #3d3d3d;
$c-detail: #8c52ff;
$c-link-primary: #3d3d3d;
$c-link-hover: #000;

$back-c-primary: #fff;
$back-detail: radial-gradient(
  circle at 12.8% 28%,
  rgb(206, 155, 243) 0%,
  #8c52ff 90%
);

$back-c-button-primary: #3d3d3d;
$back-c-button-secondary: #fff;
$back-c-button-hover: #000;
$back-c-button-checkout: #48e471;
$back-c-button-checkout-hover: #74eb93;
$back-c-var-hover: hsla(0, 0%, 5%, 0.2);

$border-c-button-checkout: #48e471;
$border-c-button-checkout-hover: #74eb93;
$border-c-var: hsla(0, 0%, 5%, 0.2);

$border-modal: 1px solid $border-c-var;

$ls-primary: 0.05rem;
$ls-secondary: -0.05rem;
$ls-link: 0.1rem;
$ls-button: 0.12rem;

$z-nav: 5;
$z-backdrop: 20;
$z-modal: 25;
$z-modal-n: 30;

.content_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .modal_header {
    width: 100%;
    display: grid;
    grid-template-columns: 8fr 2fr;
    padding: 0 3rem;

    h3 {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      text-transform: uppercase;
      font-size: 1.4rem;
    }

    .date {
      font-family: $font-f-secondary;
      font-weight: $font-w-700;
      letter-spacing: $ls-secondary;
      font-size: 1.4rem;
      margin-left: auto;
     
    }
  }

  .list_wrapper {
    padding: 2rem 3rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    overflow-y: auto;
    height: 100%;

    &::-webkit-scrollbar {
      width: 1rem;
    }

    &::-webkit-scrollbar-track {
      background: hsl(0, 0%, 95%);
      border-radius: 100vw;
    }

    &::-webkit-scrollbar-thumb {
      background: hsl(0, 0%, 76%);
      border-radius: 100vw;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: hsl(0, 0%, 66%);
    }

    .item_container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr auto;

      align-items: center;
      gap: 2rem;
      border-bottom: solid;

      @media (min-width: 360px) {
        grid-template-columns: 1fr 3fr auto;
      }

      @media (min-width: 480px) {
        grid-template-columns: 1fr 4fr auto;
      }

      @media (min-width: 600px) {
        grid-template-columns: 1fr 5fr auto;
      }

      @media (min-width: 768px) {
        grid-template-columns: 1fr 3fr 1fr;
      }

      @media (min-width: 1920px) {
        grid-template-columns: 1fr 4fr 1fr;
      }

      .image_wrapper {
        position: relative;

        .image {
          max-width: 100%;
          border-radius: 1rem;
          overflow-x: hidden;
          align-self: center;
        }

        .amount {
          position: absolute;
          top: -0.8rem;
          right: -0.8rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          width: 2.2rem;
          height: 2.2rem;
          text-align: center;
          font-size: 1.3rem;
          font-family: $font-f-secondary;
          letter-spacing: $ls-secondary;
          font-weight: 700;
          color: #fff;
          background-color: #3d3d3d;
        }
      }

      .info_wrapper {
        .name {
          text-transform: capitalize;
          font-weight: $font-w-700;
        }

        .size {
          color: $c-var;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }

        .name,
        .size {
          font-family: $font-f-secondary;
          letter-spacing: $ls-secondary;
          font-size: 1.5rem;
        }
      }

      .price {
        font-family: $font-f-secondary;
        font-weight: $font-w-700;
        letter-spacing: $ls-secondary;
        font-size: 1.8rem;
        margin-left: auto;
        // border: solid;
        padding: 0.5rem 1rem;
        border: 0.2rem solid #000;
        border-radius: 1rem;
      }
      .welcome_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        // padding-bottom: 2rem;
        // margin-bottom: 1.5rem;
        position: relative;
        top: -2rem;
        flex-direction: row;
        line-height: normal;
        .logout_button1 {
          position: relative;
          top: -1rem;
          // right: -20rem;
          border: 0.2rem solid #000;
          border-radius: 1rem;
          text-transform: uppercase;
          background: #000000;
          color: #ffffff;
          padding: 1rem 2rem;
          font-size: 1.2rem;
          letter-spacing: $ls-button;

          -webkit-user-select: none;
          -webkit-touch-callout: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

          -moz-transition: all 0.1s ease-in;
          -o-transition: all 0.1s ease-in;
          -webkit-transition: all 0.1s ease-in;
          transition: all 0.1s ease-in;

          @media (min-width: 360px) {
            font-size: 1.4rem;
          }

          @media (min-width: 480px) {
            font-size: 1.6rem;
          }

          &:hover {
            cursor: pointer;
            background-color: $back-c-button-hover;
            color: #ffffff;
            transform: scale(0.9);
          }

          &:active {
            transform: scale(0.9);
          }
        }
      }
      .wrapper_review {
        display: grid;
        grid-column: 1/4;
      }
    }
  }

  .modal_footer {
    border-top: 3px solid black;
    width: 100%;
    padding: 2rem 3rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    div {
      font-family: $font-f-secondary;
      font-size: 1.4rem;
      font-weight: $font-w-700;
      letter-spacing: $ls-secondary;
      text-transform: uppercase;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      .tags_wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        align-items: center;
        position: absolute;
        right: 0;
        float: right;
      }

      .tag_alt1 {
        background-color: #48e471;
      }

      .tag {
        background: $back-detail;
      }

      .tag,
      .tag_alt,
      .tag_alt1 {
        text-transform: uppercase;
        padding: 0.5rem 1rem;
        border-radius: 0.6rem;
        font-size: 1.2rem;
        color: $c-primary;
        font-family: $font-f-secondary;
        font-weight: $font-w-700;
        letter-spacing: $ls-secondary;
      }

      .tag_alt {
        background-color: $c-link-primary;
        color: #fff;
      }
    }

    .button {
      padding: 1rem 2rem;
      font-size: 1.2rem;
      border: solid 0.2rem $back-c-button-primary;
      border-radius: 1rem;
      width: 100%;
      background-color: $back-c-button-primary;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: $ls-button;

      -moz-transition: all 0.1s ease-in;
      -o-transition: all 0.1s ease-in;
      -webkit-transition: all 0.1s ease-in;
      transition: all 0.1s ease-in;

      @media (min-width: 768px) {
        font-size: 1.6rem;
      }

      &:active {
        transform: scale(0.9);
      }

      &:hover {
        cursor: pointer;
        color: #fff;
        background-color: $back-c-button-hover;
        border-color: $back-c-button-hover;
      }
    }
  }
}
