.image_wrapper {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  .imageMain {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    overflow: hidden;
    img{
        border-radius: 1rem;
    }
  }
}
