$font-f-primary: "Monument Extended", sans-serif;
$font-f-secondary: "Inter", sans-serif;
$font-f-hero: "Monument Extended Ultrabold", sans-serif;

$font-w-400: 400;
$font-w-700: 700;
$font-w-900: 900;

$c-primary: #000;
$c-secondary: #fff;
$c-var: #3d3d3d;
$c-detail: #8c52ff;
$c-link-primary: #3d3d3d;
$c-link-hover: #000;

$back-c-primary: #fff;
$back-detail: radial-gradient(
  circle at 12.8% 28%,
  rgb(206, 155, 243) 0%,
  #8c52ff 90%
);

$back-c-button-primary: #3d3d3d;
$back-c-button-secondary: #fff;
$back-c-button-hover: #000;
$back-c-button-checkout: #48e471;
$back-c-button-checkout-hover: #74eb93;
$back-c-var-hover: hsla(0, 0%, 5%, 0.2);

$border-c-button-checkout: #48e471;
$border-c-button-checkout-hover: #74eb93;
$border-c-var: hsla(0, 0%, 5%, 0.2);

$border-modal: 1px solid $border-c-var;

$ls-primary: 0.05rem;
$ls-secondary: -0.05rem;
$ls-link: 0.1rem;
$ls-button: 0.12rem;

$z-nav: 5;
$z-backdrop: 20;
$z-modal: 25;
$z-modal-n: 30;

.card {
  border: 0.1rem solid #cfcfcf;
  border-radius: 1rem;
  padding: 2rem 2rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1rem;
  // margin-top: -4rem;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  width: 100%;
  &:active {
    transform: scale(0.98);
  }

  .info_container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-bottom: 1.5rem;

    .info_wrapper {
      // position: relative;
      // display: flex;
      // flex-direction: column;

      .title {
        font-size: 1.5rem;
        font-weight: $font-w-900;
        text-transform: capitalize;
        max-width: 100%;
  
        .textarea {
          border-radius: 1rem;
          border: 0.2rem solid #cfcfcf;
         
          font-family: inherit;
          font-size: inherit;
          padding: 1px 6px;
          outline: none;
         
        
        }
       
        .width-machine {
          /*   Sort of a magic number to add extra space for number spinner */
          padding: 0 1rem;
        }

        .textarea {
          display: block;
          width: 100%;
          overflow: hidden;
          // resize: vertical;
          min-height: 30px;
          line-height: 20px;
          overflow-wrap: break-word;
          word-wrap:break-word;

          
        }

        .textarea[contenteditable]:empty::before {
          content: "Review...";
          color: gray;
          
        }
        border-radius: 1rem;
        border: 0.2rem solid #cfcfcf;

        width: 100%;
      }

      .title {
        font-family: $font-f-secondary;
        letter-spacing: $ls-secondary;
      }
    }

    .image {
      // max-width: 30%;
      // width: 100%;
      border-radius: 1rem;
      align-self: center;
      max-height: 12rem;

      // @media (min-width: 360px) {
      //   max-width: 25%;
      // }

      // @media (min-width: 480px) {
      //   max-width: 20%;
      // }

      // @media (min-width: 600px) {
      //   max-width: 18%;
      // }

      // @media (min-width: 768px) {
      //   max-width: 15%;
      // }

      // @media (min-width: 900px) {
      //   max-width: 20%;
      // }

      // @media (min-width: 1200px) {
      //   max-width: 25%;
      // }
    }
  }

  .controls_wrapper {
    display: grid;
    align-items: center;
    // grid-template-columns: 1fr 1fr 1fr;
    padding: 1rem 0;

    border-top: 0.2rem solid #cfcfcf;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    .button_wrapper {
      // padding-top: ;
      // margin-top: auto;
      padding: 0 initial;
      width: 100%;
      .button {
        padding: 0 100%;
        padding: 1rem 10rem;
        font-size: 1.6rem;
        border: solid 0.2rem $back-c-button-primary;
        border-radius: 1rem;
        width: 100%;
        // override tailwind css
        background: $back-c-button-primary !important;
        color: white;
        text-transform: uppercase;
        letter-spacing: $ls-button;

        -webkit-user-select: none;
        -webkit-touch-callout: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        -moz-transition: all 0.1s ease-in;
        -o-transition: all 0.1s ease-in;
        -webkit-transition: all 0.1s ease-in;
        transition: all 0.1s ease-in;

        &:hover {
          border: solid 0.2rem $back-c-button-hover;
          background: $back-c-button-hover !important;
        }

        &:active {
          transform: scale(0.9);
        }
      }
    }
  }

  .delete_wrapper {
    display: flex;
    align-items: center;
    .delete_icon {
      display: inline-block;
      padding: 1rem;
      border-radius: 999rem;

      -moz-transition: all 0.1s ease-in;
      -o-transition: all 0.1s ease-in;
      -webkit-transition: all 0.1s ease-in;
      transition: all 0.1s ease-in;

      font-size: 1.3rem;

      &:hover {
        cursor: pointer;
        background-color: #ff6666;
      }
    }
  }

  .quantity_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;

    .minus_icon,
    .plus_icon {
      padding: 1rem 2rem;
      border-radius: 2rem;
      &:hover {
        background-color: #cfcfcf;
      }
    }

    .minus_icon,
    .plus_icon {
      -moz-transition: all 0.1s ease-in;
      -o-transition: all 0.1s ease-in;
      -webkit-transition: all 0.1s ease-in;
      transition: all 0.1s ease-in;

      font-size: 1.3rem;

      &:hover {
        cursor: pointer;
      }
    }

    .quantity {
      font-family: $font-f-secondary;
      letter-spacing: $ls-secondary;
      font-weight: $font-w-900;
      font-size: 1.2rem;

      @media (min-width: 360px) {
        font-size: 1.4rem;
      }
    }
  }

  .total {
    font-family: $font-f-secondary;
    letter-spacing: $ls-secondary;
    font-weight: $font-w-900;
    text-align: right;
    font-size: 1.2rem;

    @media (min-width: 360px) {
      font-size: 1.4rem;
    }
  }
}
